:root {
  /** primary **/
  --ion-color-primary: #333531; /* Light mode primary color */
  --ion-color-primary-rgb: 244, 244, 244;
  --ion-color-primary-contrast: #50514f; /* Light mode text color */
  --ion-color-primary-contrast-rgb: 80, 81, 79;
  --ion-color-primary-shade: #e0e0e0;
  --ion-color-primary-tint: #fafafa;

  /** secondary **/
  --ion-color-secondary: #cbd4c2; /* Light mode secondary color */
  --ion-color-secondary-rgb: 203, 212, 194;
  --ion-color-secondary-contrast: #50514f;
  --ion-color-secondary-contrast-rgb: 80, 81, 79;
  --ion-color-secondary-shade: #b8bfc3;
  --ion-color-secondary-tint: #d4d9c5;

  /** tertiary **/
  --ion-color-tertiary: #9fbc5b; /* Light mode accent color */
  --ion-color-tertiary-rgb: 159, 188, 91;
  --ion-color-tertiary-contrast: #50514f;
  --ion-color-tertiary-contrast-rgb: 80, 81, 79;
  --ion-color-tertiary-shade: #8ca557;
  --ion-color-tertiary-tint: #adc36f;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #e6ce81;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #b52f41;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #333531; /* Light mode background color */
  --ion-color-dark-rgb: 51, 53, 49;
  --ion-color-dark-contrast: #e7ece2; /* Light mode text color */
  --ion-color-dark-contrast-rgb: 231, 236, 226;
  --ion-color-dark-shade: #2e302d;
  --ion-color-dark-tint: #4a4d48;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #fbfbfe; /* Light mode background color */
  --ion-color-light-rgb: 251, 251, 254;
  --ion-color-light-contrast: #50514f; /* Light mode text color */
  --ion-color-light-contrast-rgb: 80, 81, 79;
  --ion-color-light-shade: #e8e8eb;
  --ion-color-light-tint: #fcfcff;

  /*top bar color */
  --ion-toolbar-background: #a3b88d;
  /*bg*/
  --ion-background-color: #e9eae8;
  /* Light mode button styles */

  ion-button {
    --background: #333531;
    --color: #fbfbfe;
  }
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #333531; /* Dark mode primary color, icons below the*/
    --ion-color-primary-rgb: 143, 148, 134;
    --ion-color-primary-contrast: #e7ece2; /* Dark mode text color */
    --ion-color-primary-contrast-rgb: 231, 236, 226;
    --ion-color-primary-shade: #7f8475;
    --ion-color-primary-tint: #a0a497;

    --ion-color-secondary: #cbd4c2; /* Dark mode secondary color */
    --ion-color-secondary-rgb: 203, 212, 194;
    --ion-color-secondary-contrast: #e7ece2;
    --ion-color-secondary-contrast-rgb: 231, 236, 226;
    --ion-color-secondary-shade: #b8bfc3;
    --ion-color-secondary-tint: #d4d9c5;

    --ion-color-tertiary: #cbd4c2; /* Dark mode accent color */
    --ion-color-tertiary-rgb: 203, 212, 194;
    --ion-color-tertiary-contrast: #e7ece2;
    --ion-color-tertiary-contrast-rgb: 231, 236, 226;
    --ion-color-tertiary-shade: #b8bfc3;
    --ion-color-tertiary-tint: #d4d9c5;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #c6ad4a;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #941627;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8; /* Dark mode background color */
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000; /* Dark mode text color */
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428; /* Dark mode background color */
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ecebe2; /* Dark mode text color */
    --ion-color-light-contrast-rgb: 231, 236, 226;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * COLOR SCHEME OF SAVEAT APPLICATION 
   * -------------------------------------------
   */

  .md body {
    /* Saveat body background */ /*section color*/
    --ion-background-color: #cbd4c2;
    --ion-item-background: #cbd4c2;

    --ion-background-color-rgb: 18, 18, 18;

    /*text and border color content color**/
    --ion-text-color: #405729;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #6e8a52;

    /* #84a564 */
    /*top bar color */
    --ion-toolbar-background: #84a564;

    --ion-button-background: #333531;
    --ion-button-color: #e7ece2;

    --ion-tab-bar-background: #cbd4c2;
    /*bottom bar color   #196F3D*/
    --ion-color-step-700: #b8b8b8;
    --ion-card-background: #d4c2c2;
  }

  /* Specific button styles for dark mode */
  ion-button {
    --background: #333531;
    --color: #e7ece2;
  }
}
